body {
  margin: 0;
  /* font-family: 'Garamond', 'Times New Roman', Times, serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
a:visited {
  color: unset
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
